<!-- JS files that are loading in the <head> -->

{{ $isLocalServer := .Site.IsServer }}
{{ $defines := dict "CI_COMMIT_SHORT_SHA" (getenv "CI_COMMIT_SHORT_SHA" | default `""`) }}
{{ $options := "" }}
{{ $outputLangRedirects := "" }}
{{ $outputRegionRedirects := "" }}

{{ if $isLocalServer }}
  {{ $options = dict "defines" $defines "sourceMap" "inline" }}
  {{ $outputLangRedirects = resources.Get "scripts/lang-redirects.js" | js.Build $options }}
  {{ $outputRegionRedirects = resources.Get "scripts/region-redirects.js" | js.Build $options }}
{{ else }}
  {{ $options = dict "defines" $defines "sourceMap" "inline" "minify" true }}
  {{ $outputLangRedirects = resources.Get "scripts/lang-redirects.js" | js.Build $options | resources.Fingerprint "sha512" }}
  {{ $outputRegionRedirects = resources.Get "scripts/region-redirects.js" | js.Build $options | resources.Fingerprint "sha512" }}
{{ end }}

{{ if $isLocalServer }}
  <script type="text/javascript" src="{{ $outputLangRedirects.RelPermalink }}"></script>
  <script type="text/javascript" src="{{ $outputRegionRedirects.RelPermalink }}"></script>
{{ else }}
  <script type="text/javascript" src="{{ $outputLangRedirects.RelPermalink }}" integrity="{{ $outputLangRedirects.Data.Integrity }}"></script>
  <script type="text/javascript" src="{{ $outputRegionRedirects.RelPermalink }}" integrity="{{ $outputRegionRedirects.Data.Integrity }}"></script>
{{ end }}

{{- $dd_rum := resources.Get "node_modules/datadog-rum.js" -}}
{{- $dd_logs := resources.Get "node_modules/datadog-logs.js" -}}
{{- $dd_libs_js := slice $dd_rum $dd_logs | resources.Concat "js/dd-libs.js" -}}
{{- $dd_browser_logs_rum := resources.Get "scripts/components/dd-browser-logs-rum.js" | js.Build $options -}}

<script>{{ $dd_libs_js.Content | safeJS }}</script>
<script type="text/javascript" src="{{ $dd_browser_logs_rum.RelPermalink }}"></script>


