{{ $dot := . }}

{{ $s := newScratch }}
{{ $paths := slice }}

{{ range $versionNum := (slice "v1" "v2") }}
  {{ with (index $dot.Site.Data.api $versionNum).full_spec_deref }}
    {{ $spec := . }}
    {{ range $path_key, $path_object := $spec.paths }}
      {{ range $action_type, $action := $path_object }}
        {{ range $security_object := $action.security }}
          {{ range $sec_key, $sec_val := $security_object }}
              {{ range $scope := $sec_val }}
                {{ $s.SetInMap "scopes" $scope (index $spec.components.securitySchemes.AuthZ.flows.authorizationCode.scopes $scope) }}
                {{ $paths = $paths | append (dict $path_key $scope) }}
              {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}



<h2>Available Scopes</h2>

<h3>Dashboards</h3>
<div class="table-request schema-table row has-no-expands">
  <!-- Header -->
  <div class="col-12">
    <div class="row table-header">
      <div class="col-2 column">
        <p class="font-semibold">Name</p>
      </div>
      <div class="col-4 column">
        <p class="font-semibold">Description</p>
      </div>
      <div class="col-6 column">
        <p class="font-semibold">Endpoints that require this scope</p>
      </div>
    </div>
    <!-- Detail -->
    <div>
      {{ range $scope, $scope_desc := ($s.Get "scopes") }}
      <div class="row">
        <div class="col-12 first-column">
          <div class="row first-row">
            <div class="col-2 column">
              <p>{{ $scope }}</p>
            </div>
            <div class="col-4 column">
              <p>{{ $scope_desc }}</p>
            </div>
            <div class="col-6 column">
              {{ $unique_paths := slice }}
              {{range $path_map := $paths}}
                {{range $path, $path_scope := $path_map}}
                  {{if eq $path_scope $scope}}
                    {{if not (in $unique_paths $path) }}
                      {{$unique_paths = $unique_paths | append $path}}
                      <p>{{$path}}</p>
                    {{end}}
                  {{end}}
                {{end}}
              {{end}}
            </div>
          </div>
        </div>
      </div>
      {{ end }}

    </div>

  </div>
</div>

